{% import 'macros/contact.html' as macros_contact -%}

{% macro contact_from_config(section, config) %}
  {% set email = "" %}
  {% if config.extra.email %}
    {% set email = config.extra.email %}
  {% endif %}

  {% set contact = get_page(path="./contacts.md", metadata_only=true) %}

  {% set links = "" %}
  {% if contact.extra.links %}
    {% set links = contact.extra.links %}
  {% endif %}
  <a name="contacts"></a>
  {{ macros_contact::contact_list(title="Contact", links=links, email=email) }}
  </div>
{% endmacro %}