{% import 'macros/head.html' as macros_head -%}
{% import 'macros/nav.html' as macros_nav -%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  {% block head %}
    <meta charset="utf-8">
    {{ macros_head::stylesheet() }}
    {% block css %}

    {% endblock css %}

    {% block title %}
      <title>{{ config.title  }}</title>
    {% endblock title %}
  {% endblock head %}
</head>

<body class="bg-white font-sans leading-normal tracking-normal">

  <!-- Top nav bar -->
  {% block nav %}
    {{ macros_nav::nav(website_title=config.title, menu_items=config.extra.menu_items) }}
  {% endblock nav %}

  <!-- Container -->
  {% block content %}
  {% endblock content %}

  <!-- <div class="sticky bottom-0 px-3">
    <a href="#page-top">Back to top of page</a>
  </div> -->

  {% block footer %}
  <footer class="text-sm bg-white border-t border-gray-400 text-gray-400 container max-w-4xl mx-auto mt-8">
    © {{ config.title }}. Made with <a target="_blank" href="https://getzola.org">zola</a>.
  </footer>
  {% endblock footer %}

</body>

</html
