{% import 'macros/head.html' as macros_head -%}
{% import 'macros/nav.html' as macros_nav -%}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
    <meta charset="utf-8">
    {{ macros_head::stylesheet() }}
    {% block css %}

    {% endblock css %}

    {% block title %}
      <title>{{ config.title  }}</title>
    {% endblock title %}
  {% endblock head %}
</head>

<body class="bg-white font-sans leding-normal tracking-normal">

  <!-- Top nav bar -->
  {% block nav %}
    {{ macros_nav::nav(website_title=config.title, menu_items=config.extra.menu_items) }}
  {% endblock nav %}

  <!-- Container -->
  <div class="container w-full md:max-w-3xl mx-auto pb-8 px-3">
    <div class="leading-normal" style="font-family:Georgia,serif;">
    {% block content %}
    {% endblock content %}
    </div>
  </div>

  {% block footer %}
  <footer class="text-sm bg-white border-t border-gray-400 text-gray-400 container w-full md:max-w-3xl mx-auto pb-3">
    © Adrien Faure. Made with <a target="_blank" href="https://getzola.org">zola</a>.
  </footer>
  {% endblock footer %}

</body>

</html
