{% extends "base.html" %}

{% block content %}

<div class="container max-w-4xl mx-auto">
  <div class="flex py-10 md:flex-row flex-wrap sm:flex-nowrap px-8 justify-center">
    <div class="basis-full sm:basis-2/5 sm:px-3">
      <div class="container mx-auto">
        <img class="object-center w-52 h-52 rounded-full mx-auto" src="{{ config.base_url }}/img/kodama.png" alt="Profile image"/>
        <h1 class="text-center font-bold break-normal text-gray-900 text-3xl py-1">{{ config.title }}</h1>
        {% if section.extra.title %}
        <h2 class="text-center font-bold break-normal text-gray-400 text-lg py-1">{{ section.extra.title }}</h2>
        {% endif %}
      </div>
    </div>
    <div class="basis-full sm:basis-3/5 sm:px-1">
      <h1 class="font-bold font-sans break-normal text-gray-900 text-3xl py-1">Biography</h1>
      <article class="prose prose-indigo prose max-w-3xl">
      {{ section.content | safe }}
      </article>
    </div>
  </div>
</div>

{% endblock content %}
